<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astro Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block scripts %}{% endblock %}
    </head>    
<body>
    <header class="clearfix">
        <div class="left-header">
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Desk</a></li>
                    <li><a href="{{ url_for('main.targets') }}">Targets</a></li>
                    <li><a href="{{ url_for('main.observations') }}">Observations</a></li>
                </ul>
            </nav>
        </div>
        <div class="right-header">
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.settings') }}">Settings</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block hero %}
        <div class="hero">
            <div class="hero-title">
                {% block herotitle %}{% endblock %}
            </div>
            <div class="hero-breadcrumbs">
                <ul class="breadcrumbs">
                    <li id="wd_breadcrumbs"></li>
                    <li id="data_breadcrumbs"></li>
                </ul>    
            </div>
        </div>
        {% endblock %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>Astro Tool - &copy; 2024 By Andrea Damonte</p>
    </footer>
</body>
</html>
